extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "company"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja 会社概要
      .title__en Company
    .hero
      .hero__image--company

    .company
      table.company__table
        tbody
          tr.company__table-row
            th.company__table-th 会社名
            td.company__table-td 株式会社Heartness
          tr.company__table-row
            th.company__table-th 設立
            td.company__table-td 2020年 
          tr.company__table-row
            th.company__table-th 所在地
            td.company__table-td 東京都世田谷区北沢3-7-5 HIGASHIKITAZAWA TERRACE 1F
          tr.company__table-row
            th.company__table-th 事業概要
            td.company__table-td 動画制作/e-Sports/Webマーケティング/コンサルティング

      .company__access
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d301.20899359948595!2d139.67200640062364!3d35.66512382070537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ebeebdab353%3A0xed6b619243233236!2z5qCq5byP5Lya56S-44Ki44Ot44O844K644Ko44Oz44K_44OG44Kk44Oz44Oh44Oz44OI!5e0!3m2!1sja!2sjp!4v1606744727872!5m2!1sja!2sjp" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
