.header {
  padding: 20px;
  max-height: 90px;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 10;

  @include mobile {
    padding: 10px;
  }

  &__logo {
    @include tablet {
      text-align: center;
      width: 100%;
    }
    a {
      display: flex;
      height: auto;
      @include tablet {
        justify-content: center;
      }
    }
    img {
      align-self: flex-start;
      width: 50%;
      @include tablet {
        width: 30%;
      }
      @include mobile {
        width: 40%;
      }
    }
  }
}
