extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "service"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja サービス
      .title__en Service

    .service
      .service__col
        .service__wrapper
          .card
            img.card__img(src="../images/pages/service/marketing.jpg" alt="Webデジタルマーケティング/広告・SMS運用サポート")
            .card__content
              h1.card__header
                | Webデジタルマーケティング / 広告
                br
                | SMS運用サポート
              p.card__text
                | SEO・SNS・YouTube・インフルエンサーなどを活用したマーケティング戦略の立案から実行支援。
              button.card__btn 
                a(href="/service/marketing.html") 
                  | Read More <span>&rarr;</span>

      .service__col
        .service__wrapper
          .card
            img.card__img(src="../images/pages/service/movie.jpg" alt="動画/クリエイティブ制作")
            .card__content
              h1.card__header 動画 / クリエイティブ制作
              p.card__text
                | 商品・サービスの概要をお伝えする上で、必須となった動画を活用したコンテンツ制作を行います。
              button.card__btn 
                a(href="/service/movie.html") 
                  | Read More <span>&rarr;</span>

      .service__col
        .service__wrapper
          .card
            img.card__img(src="../images/pages/service/consulting.jpg" alt="YouTubeマーケティング・グロース支援")
            .card__content
              h1.card__header YouTubeマーケティング・グロース支援
              p.card__text
                | 企業のサービス・商品を安価に認知してもらうために、もはや必須とも言えるYouTubeを活用した集客をサポート。
              button.card__btn 
                a(href="/service/consulting.html") 
                  | Read More <span>&rarr;</span>

      .service__col
        .service__wrapper
          .card
            img.card__img(src="../images/pages/service/streaming.jpg" alt="ライブ配信事業")
            .card__content
              h1.card__header ライブ配信事業
              p.card__text
                | “生”だから届くものがある。ライブ配信、ストリーミングサービスのサポートを致します。
              button.card__btn 
                a(href="/service/streaming.html") 
                  | Read More <span>&rarr;</span>

      .service__col
        .service__wrapper
          .card
            img.card__img(src='../images/pages/service/web.jpg' alt='Web・アプリ開発事業')
            .card__content
              h1.card__header Web・アプリ開発事業
              p.card__text
                | 企画からデザイン・構築、保守・運用までトータルサポートします。
              button.card__btn 
                a(href="/service/web.html") 
                  | Read More <span>&rarr;</span>
