extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "service"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja サービス
      .title__en Service
    .hero
      .hero__image--service