extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "service"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja サービス
      .title__en Service

    .service

      #video-edit
        .service__row
          .service__col
            img.service__thumb(src="../images/pages/service/video-edit.jpg" alt="動画編集サポート")
          .service__col
            .service__title 動画編集サポート
            .service__desc 商品・サービスの概要をお伝えする上で、必須となった動画を活用したコンテンツ制作をサポート

        .service__article
          .service__intro 
            header コンセプト
            p 集客力を生かした視聴者数の向上・複雑なサービスの紹介やPR-今や必須とも言える動画コンテンツ制作をサポート
          ul
            li.service__content
              .service__content-title 動画編集サポート
              .service__content-desc サムネイル・テロップ・カット・BGM・効果音等の動画制作全般業務をサポート
            li.service__content
              .service__content-title 撮影・制作サポート
              .service__content-desc 
                | 本格的な機材を活用した撮影・制作サポート
                br
                | 映像コンテンツ制作のディレクション業務サポート
            li.service__content
              .service__content-title PR動画制作
              .service__content-desc
                | 業界最低水準価格でPR動画のご制作が可能です。充実のサポート体制でイメージ通りの動画をご制作いたします。
                br
                | マーケティング×動画の活用で、ビジネス加速をお手伝いいたします。

      hr

      #live-streaming
        .service__row
          .service__col
            img.service__thumb(src="../images/pages/service/live-streaming.jpg" alt="ライブ配信事業")
          .service__col
            .service__title ライブ配信事業
            .service__desc “生”だから届くものがある。ライブ配信、ストリーミングサービスのサポートを致します。
        .service__article
          .service__intro 
            header コンセプト
            p 企画、撮影、ディレクション、キャスティング、スイッチング、配信など経験豊富な専門スタッフがニーズに合わせてサポート致します。
          ul
            li.service__content
              .service__content-title 専門のスタッフによる 生配信サポート
              .service__content-desc 
                | スイッチングした映像と音声で リアルタイムで配信 音楽からe-Sports、
                br 
                | トークイベントや社内配信まで 配信サポートだけではなく、イベント企画、 キャスティング、現場オペレーションまで ご要望に合わせて対応！
                br
                | 提携スポンサーのマッチングや、1日から中長期のプロリーグのコミュニティイベントまで一気通貫でご提案
            li.service__content
              .service__content-title 活用シーン
              .service__content-desc 
                | ライブ、e-Sports、イベント、トークショー、社内配信、学校行事、YouTube企画

      hr

      #marketing
        .service__row
          .service__col
            img.service__thumb(src="../images/pages/service/marketing.jpg" alt="WEBマーケティング")
          .service__col
            .service__title WEBマーケティング
            .service__desc 動画コンテンツを起点に、SEO・SNS・動画プラットフォームを活用したマーケティング戦略の立案から実行までワンストップでサポート

        //- .service__article
        //-   .service__intro 
        //-     header コンセプト
        //-     p sample text sample text sample text sample text sample text sample text 
        //-   ul
        //-     li.service__content
        //-       .service__content-title Lorem ipsum....
        //-       .service__content-desc sample text sample text sample text sample text sample text sample text 
        //-     li.service__content
        //-       .service__content-title Lorem ipsum....
        //-       .service__content-desc sample text sample text sample text sample text sample text sample text 

      hr

      #consulting
        .service__row
          .service__col
            img.service__thumb(src="../images/pages/service/consulting.jpg" alt="Youtubeコンサル事業")
          .service__col
            .service__title Youtubeコンサル事業
            .service__desc 企業のサービス・商品を安価に認知してもらうために、もはや必須とも言えるYoutubeを活用した集客をサポート

        .service__article
          .service__intro 
            header コンセプト
            p 自社サービス・商品のPRに必須となったYoutube – 動画コンテンツを戦略的に打ち出すことでROIの高い集客効果を得られます。
          ul
            li.service__content
              .service__content-title YouTube戦略設計
              .service__content-desc コンセプト設計・コンテンツ戦略の立案をサポート VSEO・SEOを駆使したキーワードプランニング
            li.service__content
              .service__content-title YouTube教育事業
              .service__content-desc 
                | アカウント設計→撮影→編集→投稿までノウハウをご提供
                br
                | 投稿→分析→改善についてのKPI設定方法
                br
                | 最終的にYouTubeコンテンツ制作の内省化を目指す