@import "../settings/config";

@import "../mixin/mediaQuery";

@import "../components/header";
@import "../components/nav";
@import "../components/tpTop";
@import "../components/footer";

body {
  margin: 0;
  font-family: $yu;
}

.container {
  padding: 100px 8vw 0px;
  @include mobile {
    padding: 50px 8vw 0px;
  }
}

.title {
  &__ja {
    font-family: $yu;
    font-size: 14px;
    letter-spacing: 2px;
  }
  &__en {
    font-family: $Montserrat;
    font-size: 32px;
  }
}

.hero {
  @mixin image {
    height: 200px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__image {
    &--company {
      @include image;
      background-image: url(../../images/pages/company/top.jpg);
    }
    &--service {
      @include image;
      background-image: url(../../images/pages/service/top.jpg);
    }
    &--news {
      @include image;
      background-image: url(../../images/pages/news/top.jpg);
    }
    &--contact {
      @include image;
      background-image: url(../../images/pages/contact/top.jpg);
    }
  }
}

.company {
  padding: 24px 0;
  &__table {
    width: 100%;
    border: 1px solid #eaeaea;
    border-collapse: collapse;
    text-align: left;
  }
  &__table-row {
    border-bottom: 1px solid #eaeaea;
  }
  &__table-th {
    box-sizing: border-box;
    width: 19.5%;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 28px 30px;
    @include tablet {
      width: 100%;
      display: block;
      padding: 18px 19px 6px;
    }
  }
  &__table-td {
    box-sizing: border-box;
    width: 80.5%;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding: 28px 32px;
    position: relative;
    @include tablet {
      width: 100%;
      display: block;
      letter-spacing: 0.02em;
      padding: 0 19px 16px;
    }
  }

  &__access {
    padding: 24px 0;
  }
}
