footer.footer
  .footer__main
    a(href="/")
      img(src="../../images/logo/logo-slim.png" alt="logo image").footer__logo
    .footer__pages
      a(href="/company") company
      a(href="/service") service
      a(href="/news") news
      a(href="/contact") contact
    //- .footer__sns
    //-   .footer__icon
    //-     img(src="../images/icon/twitter.svg" alt="twitter icon")
    //-   .footer__icon
    //-     img(src="../images/icon/instagram.svg" alt="instagram icon")
    //-   .footer__icon
    //-     img(src="../images/icon/facebook.svg" alt="facebook icon")
  .footer__sub
    .footer__contact お問い合わせ
    hr.footer__hr
    .footer__address
      | 東京都世田谷区北沢3-7-5 HIGASHIKITAZAWA TERRACE 1F
      br
      |TEL：090-3531-7630
  .footer__copy
    small &copy; 2020 Heartness inc.
