- var title = "Heartness Studio";

- var image_path = '/images'
- var css_path = '/css'
- var js_path = '/js'
- var domain = 'https://example.com/'
- 
  var pages = {
    home : {
      url : 'index.html',
      name : 'トップページ',
      title : title,
      description : 'トップページのdescription',
    },
    company : {
      url : '/company/index.html',
      name : 'company',
      title : title + " | company",
      description : 'companyのdescription',
    },
    service : {
      url : '/service/index.html',
      name : 'service',
      title : title + " | service",
      description : 'serviceのdescription',
    },
    news : {
      url : '/news/index.html',
      name : 'news',
      title : title + " | news",
      description : 'newsのdescription',
    },
    contact : {
      url : '/contact/index.html',
      name : 'contact',
      title : title + " | contact",
      description : 'contactのdescription',
    },
  }
