- var title = "Heartness";

- var image_path = '/images'
- var css_path = '/css'
- var js_path = '/js'
- var domain = 'heartness.jp'
- 
  var pages = {
    home : {
      url : 'index.html',
      name : 'トップページ',
      title : title,
      description : '株式会社Hearnessの公式ホームページです。動画編集サポート、ライブ配信事業、WEBマーケティング、Youtubeコンサル事業などを展開しています。',
      og_title : '株式会社Heartness | Home',
      og_type : 'website',
      og_url: 'https://heartness.jp/',
    },
    company : {
      url : '/company/index.html',
      name : 'company',
      title : title + " | company",
      description : '株式会社Hearnessの会社概要ページです。会社名、設立年度、所在地、事業概要などを掲載しています。',
      og_title : '株式会社Heartness | Company',
      og_type : 'article',
      og_url: 'https://heartness.jp/company',
    },
    service : {
      url : '/service/index.html',
      name : 'service',
      title : title + " | service",
      description : '株式会社Hearnessの事業についてご紹介します。動画編集サポート、ライブ配信事業、WEBマーケティング、Youtubeコンサル事業などを展開しています。',
      og_title : '株式会社Heartness | Service',
      og_type : 'article',
      og_url: 'https://heartness.jp/service',
    },
    service_marketing : {
      url : '/service/marketing.html',
      name : 'service_marketing',
      title : title + " | Webデジタルマーケティング/広告・SMS運用サポート",
      description : '株式会社HearnessのWebデジタルマーケティング/広告・SMS運用サポートについてご紹介します。SEO・SNS・YouTube・インフルエンサーなどを活用したマーケティング戦略の立案から実行支援を行っています。',
      og_title : '株式会社Heartness | Webデジタルマーケティング/広告・SMS運用サポート',
      og_type : 'article',
      og_url: 'https://heartness.jp/service/marketing.html',
    },
    service_movie : {
      url : '/service/movie.html',
      name : 'service_movie',
      title : title + " | 動画 / クリエイティブ制作",
      description : '株式会社Hearnessの動画 / クリエイティブ制作についてご紹介します。商品・サービスの概要をお伝えする上で、必須となった動画を活用したコンテンツ制作を行います。',
      og_title : '株式会社Heartness | 動画 / クリエイティブ制作',
      og_type : 'article',
      og_url: 'https://heartness.jp/service/movie.html',
    },
    service_consulting : {
      url : '/service/consulting.html',
      name : 'service_consulting',
      title : title + " | YouTubeマーケティング・グロース支援",
      description : '株式会社HearnessのYouTubeマーケティング・グロース支援についてご紹介します。企業のサービス・商品を安価に認知してもらうために、もはや必須とも言えるYouTubeを活用した集客をサポート。',
      og_title : '株式会社Heartness | YouTubeマーケティング・グロース支援',
      og_type : 'article',
      og_url: 'https://heartness.jp/service/consulting.html',
    },
    service_streaming : {
      url : '/service/streaming.html',
      name : 'service_streaming',
      title : title + " | ライブ配信事業",
      description : '株式会社Hearnessのライブ配信事業についてご紹介します。企業のサービス・商品を安価に認知してもらうために、もはや必須とも言えるYouTubeを活用した集客をサポート。',
      og_title : '株式会社Heartness | ライブ配信事業',
      og_type : 'article',
      og_url: 'https://heartness.jp/service/streaming.html',
    },
    service_web : {
      url : '/service/web.html',
      name : 'service_web',
      title : title + " | Web・アプリ開発事業",
      description : '株式会社HearnessのWeb・アプリ開発事業についてご紹介します。企画からデザイン・構築、保守・運用までトータルサポートします。',
      og_title : '株式会社Heartness | Web・アプリ開発事業',
      og_type : 'article',
      og_url: 'https://heartness.jp/service/web.html',
    },
    news : {
      url : '/news/index.html',
      name : 'news',
      title : title + " | news",
      description : '株式会社Hearnessのお知らせページです。新着情報やニュース、メディア情報などのお知らせを掲載しています。',
      og_title : '株式会社Heartness | News',
      og_type : 'article',
      og_url: 'https://heartness.jp/news',
    },
    contact : {
      url : '/contact/index.html',
      name : 'contact',
      title : title + " | contact",
      description : '株式会社Hearnessへのお問い合わせページです。動画編集サポート、ライブ配信事業、WEBマーケティング、Youtubeコンサル事業のご依頼やその他お問い合わせはこちらから。',
      og_title : '株式会社Heartness | Contact',
      og_type : 'article',
      og_url: 'https://heartness.jp/contact',
    },
    news_2020_11_29_established: {
      url : '/news/established.html',
      name : 'news_2020_11_29_established',
      title : title + " | 株式会社Heartness設立",
      description : '株式会社Heartness設立',
      og_title : '株式会社Heartness | 株式会社Heartness設立',
      og_type : 'article',
      og_url: 'https://heartness.jp/news/established.html',
    }
  }
