- var title = "Heartness";

- var image_path = '/images'
- var css_path = '/css'
- var js_path = '/js'
- var domain = 'heartness.jp'
- 
  var pages = {
    home : {
      url : 'index.html',
      name : 'トップページ',
      title : title,
      description : '株式会社Hearnessの公式ホームページです。動画編集サポート、ライブ配信事業、WEBマーケティング、Youtubeコンサル事業などを展開しています。',
      og_title : '株式会社Heartness | Home',
      og_type : 'website',
      og_url: 'https://heartness.jp/',
    },
    company : {
      url : '/company/index.html',
      name : 'company',
      title : title + " | company",
      description : '株式会社Hearnessの会社概要ページです。会社名、設立年度、所在地、事業概要などを掲載しています。',
      og_title : '株式会社Heartness | Company',
      og_type : 'article',
      og_url: 'https://heartness.jp/company',
    },
    service : {
      url : '/service/index.html',
      name : 'service',
      title : title + " | service",
      description : '株式会社Hearnessの事業についてご紹介します。動画編集サポート、ライブ配信事業、WEBマーケティング、Youtubeコンサル事業などを展開しています。',
      og_title : '株式会社Heartness | Service',
      og_type : 'article',
      og_url: 'https://heartness.jp/service',
    },
    news : {
      url : '/news/index.html',
      name : 'news',
      title : title + " | news",
      description : '株式会社Hearnessのお知らせページです。新着情報やニュース、メディア情報などのお知らせを掲載しています。',
      og_title : '株式会社Heartness | News',
      og_type : 'article',
      og_url: 'https://heartness.jp/news',
    },
    contact : {
      url : '/contact/index.html',
      name : 'contact',
      title : title + " | contact",
      description : '株式会社Hearnessへのお問い合わせページです。動画編集サポート、ライブ配信事業、WEBマーケティング、Youtubeコンサル事業のご依頼やその他お問い合わせはこちらから。',
      og_title : '株式会社Heartness | Contact',
      og_type : 'article',
      og_url: 'https://heartness.jp/contact',
    },
    news_2020_11_29_established: {
      url : '/news/established.html',
      name : 'news_2020_11_29_established',
      title : title + " | 株式会社Heartness設立",
      description : '株式会社Heartness設立',
      og_title : '株式会社Heartness | 株式会社Heartness設立',
      og_type : 'article',
      og_url: 'https://heartness.jp/news/established.html',
    }
  }
