- var title = "Heartness Studio";

- var image_path = '/images'
- var css_path = '/css'
- var js_path = '/js'
- var domain = 'https://example.com/'
- 
  var pages = {
    home : {
      url : 'index.html',
      name : 'トップページ',
      title : title,
      description : 'トップページのdescription',
    },
    news : {
      url : '/news/index.html',
      name : 'news',
      title : title + " | news",
      description : 'newsのdescription',
    },
  }
