extends layouts/_home.pug

block vars
  include _config.pug
  - var key = "home"
  - var page = pages[key]

block contents
  .parallax
    h2.message "make your sense"
    a(href="#container").parallax__scroll.js-smooth-scroll Scroll

  .container#container
    .service
      h2.service__title "What can we do"

      .service__container
        .service__card
          img.service__icon(src="../images/icon/film.svg" alt="")
          .service__content 動画制作サポート
          a.service__link(href="/service#video-edit") READ MORE
      .service__container
        .service__card
          img.service__icon(src="../images/icon/play.svg" alt="")
          .service__content YouTubeコンサルティング
          a.service__link(href="/service#consulting") READ MORE
      .service__container
        .service__card
          img.service__icon(src="../images/icon/video-camera.svg" alt="")
          .service__content ライブ配信事業
          a.service__link(href="/service#live-streaming") READ MORE
      .service__container
        .service__card
          img.service__icon(src="../images/icon/earth.svg" alt="")
          .service__content Webマーケティング
          a.service__link(href="/service#marketing") READ MORE

  .about
    .about__container
      h2.about__title "Image about service"
      a.about__link(href="/service") All service
    .about__container
      video.about__video(controls src="../media/about.mp4" poster="../images/pages/top/poster.png")
