extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "news_2020_11_29_established"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja 2020.XX.XX 
      .title__en 株式会社Heartness設立

    .news
      p.news__detail 
        | 動画制作を主軸にPR活動をサポートするHeartnessを設立させていただきました。
        br
        | e-SportsやYouTube、最新トレンドをフォローする形で動画制作を主軸とするビジネスを進めて参りますが、「自分達が何者か」定義せず、まづは走っていく所存です。
        br
        |「今できること、将来したいこと、解決しなければならないこと」を常に考え、社会の不を少しでも解決できる集団を目指しています。
        br
        | まだまだメンバーも少なく、世の中に提供できる価値は少ないかもしれませんが、チーム一丸となってより大きな価値を提供できる企業となれるよう背一杯精進して参ります。