@import "./settings/config";

@import "./mixin/mediaQuery";

@import "./components/header";
@import "./components/nav";
@import "./components/tpTop";
@import "./components/footer";

body,
html {
  height: 100%;
  margin: 0 auto;
  height: 100%;
  font-family: $yu;
}

.parallax {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__scroll {
    display: inline-block;
    position: fixed;
    right: 40px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      background: #fff;
      height: 100px;
    }
    &::after {
      animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    }
    @keyframes sdl {
      0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
      }
      50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
      }
      50.1% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
      }
      100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
      }
    }
  }

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("../images/pages/top/shilhouette.jpg") center no-repeat;
    background-size: cover;
  }

  .message {
    color: #fff;
    position: fixed;
    font-family: $Montserrat;
    font-size: 32px;
    letter-spacing: 5px;
    position: fixed;
    animation: 2s fadeIn;
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-50px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @include mobile {
      font-size: 24px;
    }
  }
}

.container {
  z-index: 5;
  position: relative;
}

.service {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 64px 0;
  background-color: #fff;
  &__title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: $Montserrat;
    margin: 0 0 40px;
    @include mobile {
      font-size: 24px;
    }
  }
  &__container {
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }
  &__card {
    padding: 50px;
    border: 1px solid #c6c6c6;
    background-color: #fcfcfc;
    text-align: center;
  }
  &__icon {
    width: 50px;
  }
  &__content {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__link {
    color: #fff;
    width: 50%;
    display: inline-block;
    padding: 10px 0;
    margin: 0 auto;
    background-color: #02b8fc;
    cursor: pointer;
    text-decoration: none;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  filter: grayscale(100%);
  height: 60vh;
  color: #fff;
  position: relative;
  z-index: 5;
  background: url("../images/pages/top/camera.jpg") center no-repeat;
  background-size: cover;

  &__title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    font-family: $Montserrat;
    @include mobile {
      font-size: 24px;
    }
  }
  &__container {
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include mobile {
      width: 100%;
    }
  }
  &__video {
    width: 100%;
  }
  &__link {
    border: 2px solid #fff;
    padding: 5px 15px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }
}
