extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "contact"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja お問い合わせ
      .title__en Contact
    .hero
      .hero__image--contact

    .contact
      iframe.contact__form(src="https://docs.google.com/forms/d/e/1FAIpQLSdyP1abX6FRM81eo0RzQO0nbQSXuTeFcE-yOWJttNtgo44aRQ/viewform?embedded=true" frameborder="0" width="100%" height="1050px")