extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "contact"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja お問い合わせ
      .title__en Contact
    .hero
      .hero__image--contact